<div class="card">
  <div class="card-header">
    <div class="d-flex flex-row">
      <div class="col d-flex">
        <h1>Players</h1>
      </div>
      <div class="col d-flex justify-content-end align-items-start">
        <button class="btn btn-primary" (click)="openModalAddPlayer(content)"> + {{ addPlayerModalTitle }}</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <players-list-filter-component (formEmitter)="getFormData($event)"></players-list-filter-component>
    <div class="table-responsive">
      <table class="table table-hover table-sm">
          <thead class="table-dark">
            <tr>
              <th>Number</th>
              <th>Full name</th>
              <th>Date of Birth</th>
              <th>Position</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of players$ | async">
              <td>
                {{ player.number }}
              </td>
              <td routerLink="{{ player.id }}">
                {{ player.fullName }}
              </td>
              <td>
                {{ player.dateOfBirth | date: 'longDate' }}
              </td>
              <td>
                {{ player.position }}
              </td>
            </tr>
          </tbody>
      </table>
    </div>

    <!-- Add new player modal - begin -->
    <ng-template #content>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"> {{ addPlayerModalTitle }} </h4>
          </div>
          <div class="modal-body">
            <form [formGroup]="addPlayerFormGroup" (ngSubmit)="addNewPlayer()">
              <div class="form-group mb-3">
                <input class="form-control" id="first-name" type="text" formControlName="firstName" 
                        placeholder="First Name" autocomplete="off"> 
                <div *ngIf="addPlayerFormGroup.get('firstName')?.touched && 
                              addPlayerFormGroup.get('firstName')?.invalid" class="text-danger">
                  This field is required
                </div>
              </div>
              <div class="form-group mb-3">
                <input class="form-control" id="last-name" type="text" formControlName="lastName" 
                        placeholder="Last Name" autocomplete="off"> 
                <div *ngIf="addPlayerFormGroup.get('lastName')?.touched && 
                              addPlayerFormGroup.get('lastName')?.invalid" class="text-danger">
                 This field is required
                </div>  
              </div>
              <div class="form-group mb-3">
                <input class="form-control" id="birth-date" type="text" formControlName="birthDate" 
                        placeholder="Date of Birth" autocomplete="off">
                <div *ngIf="addPlayerFormGroup.get('birthDate')?.touched && 
                              addPlayerFormGroup.get('birthDate')?.invalid" class="text-danger">
                This field is required
                </div>
              </div>
              <div class="form-group mb-3">
                <input class="form-control" id="number" type="number" formControlName="number" 
                        placeholder="Number" autocomplete="off" min="0">
                <div *ngIf="addPlayerFormGroup.get('number')?.touched && 
                              addPlayerFormGroup.get('number')?.invalid" class="text-danger">
                This field is required
                </div>                  
              </div>
              <div class="form-group mb-3">
                <select class="form-select" id="position" formControlName="position">
                  <option selected disabled value="">Position</option>
                  <option *ngFor="let position of positions$ | async"> {{ position.shortName }} </option>
                </select>
                <div *ngIf="addPlayerFormGroup.get('position')?.touched && 
                              addPlayerFormGroup.get('position')?.invalid" class="text-danger">
                This field is required
                </div>
              </div>
              <div class="modal-footer form-group">
                <button class="btn btn-secondary" type="button" (click)="closeModalAddPlayer()">Close</button>
                <button class="btn btn-primary" type="submit">Add player</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- Add new player modal - end -->
  </div>
</div>
