<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Season</th>
        <th scope="col">Appearances</th>
        <th scope="col">Goals</th>
        <th scope="col">Assists</th>
        <th scope="col">Yellow cards</th>
        <th scope="col">Red cards</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let playerStat of playerStats | async">
        <th scope="row"> {{ playerStat.season }} </th>
        <td> {{ playerStat.appearances }} ({{playerStat.substituteAppearances}}) </td>
        <td> {{ playerStat.goals }} </td>
        <td> {{ playerStat.assists }} </td>
        <td> {{ playerStat.yellowCards }} </td>
        <td> {{ playerStat.redCards }} </td>
      </tr>
    </tbody>
  </table>
</div>

