<div class="d-flex flex-column align-items-center bg-dark">
  <ul class="nav nav-pills flex-column">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link link-light px-2" 
                            data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard">
        <i class="fs-4 bi-house"></i>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/employees" routerLinkActive="active" class="nav-link link-light px-2" 
                            data-bs-toggle="tooltip" data-bs-placement="right" title="Players">
        <i class="fs-4 bi-people"></i>
      </a>
    </li>
    <li>
      <a routerLink="#" routerLinkActive="active" class="nav-link link-light px-2" 
                            data-bs-toggle="tooltip" data-bs-placement="right" title="Orders">
        <i class="fs-4 bi-list-ol"></i>
      </a>
    </li>
    <li>
      <a routerLink="#" routerLinkActive="active" class="nav-link link-light px-2" 
                            data-bs-toggle="tooltip" data-bs-placement="right" title="Products">
        <i class="fs-4 bi-pen"></i>
      </a>
    </li>
    <li>
      <a routerLink="#" routerLinkActive="active" class="nav-link link-light px-2" 
                            data-bs-toggle="tooltip" data-bs-placement="right" title="Customers"> 
        <i class="fs-4 bi-phone"></i>
      </a>
    </li>
  </ul>
</div>