
<games-list-filter-component (formEmitter)="getFormData($event)"></games-list-filter-component>

<div class="table-responsive">
  <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th>Home team</th>
          <th>Away team</th>
          <th>Result</th>
          <th>Outcome</th>
          <th>Competition</th>
          <th>Round</th>
          <th>Date</th>
          <th>Time</th>
          <th>Spectators</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of games$ | async">
          <td [ngClass]="{'fw-bold': game.isHomeGame === true}">
            {{ game.team1 }}
          </td>
          <td [ngClass]="{'fw-bold': game.isHomeGame === false}">
            {{ game.team2 }}
          </td>
          <td routerLink="{{ game.id }}">
            {{ game.result }}
          </td>
          <td>
            {{ game.outcome }}
          </td>
          <td>
            {{ game.competitionName }}
          </td>
          <td>
            {{ game.competitionRound }}
          </td>
          <td>
            {{ game.time | date: 'longDate' }}
          </td>
          <td>
            {{ game.time | date: 'shortTime' }}
          </td>
          <td>
            {{ game.spectators }}
          </td>
        </tr>
      </tbody>
  </table>
</div>