<div class="card">
  <div class="card-header">
    <div class="d-flex flex-row">
      <div class="col d-flex">
        <h1>Player profile</h1>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img [src]="user.avatar" alt="avatar" class="img-thumbnail">
          <span>{{ (player$ | async)?.fullName }} #{{ (player$ | async)?.number }}</span> 
        </div>
        <div class="col-md-8">
          <form>
            <div class="form-group row">
              <label for="name" class="col-3 col-form-label">Full name</label>
              <div class="col-9">
                <input type="text" class="form-control-plaintext" id="name" [value]="(player$ | async)?.fullName" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="name" class="col-3 col-form-label">Date of birth</label>
              <div class="col-9">
                <input type="text" class="form-control-plaintext" id="name" [value]="(player$ | async)?.dateOfBirth | date: 'longDate'" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="name" class="col-3 col-form-label">Number</label>
              <div class="col-9">
                <input type="text" class="form-control-plaintext" id="name" [value]="(player$ | async)?.number" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="name" class="col-3 col-form-label">Position</label>
              <div class="col-9">
                <input type="text" class="form-control-plaintext" id="name" [value]="(player$ | async)?.position" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-3 col-form-label">Nationality</label>
              <div class="col-9">
                <input type="email" class="form-control-plaintext" id="email" [value]="user.email" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="bio" class="col-3 col-form-label">Bio</label>
              <div class="col-9">
                <textarea class="form-control-plaintext" id="bio" rows="3" [value]="user.bio" readonly></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row"></div>
        <h4>Stats</h4>
        <player-stats-component></player-stats-component>
    </div>    
  </div>
</div>